<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center">
            <h1>Hello, {{user.first_name}}</h1>
            <a href="/new/appointment" class = "btn btn-info">Add new appointment</a>
            <a href="/logout" class="btn btn-danger"> Logout</a>
        </header>
        <h2>Appointments</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    {% if appointment.user_id == session['user_id'] %}
                    <tr>
                        <td>{{appointment.tasks}}</td>
                        <td>{{appointment.date}}</td>
                        <td>{{appointment.status}}</td>
                        <td>
                            {% if appointment.status != 'Done' %}
                            <a href="/edit/appointment/{{appointment.id}}" class="btn btn-warning">Edit</a>
                            <a href="/delete/appointment/{{appointment.id}}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>
        
    </div>
</body>
</html>