<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>New appointment</title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center">
            <h1>Welcome, {{user.first_name}}</h1>
            <a href="/dashboard" class = "btn btn-info">Dashboard</a>
            <a href="/logout" class="btn btn-danger"> Logout</a>
        </header>
        <!--Mensajes de error-->
        {% with messages = get_flashed_messages(category_filter=['appointments']) %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="/create/appointment" method="post">
            
            <div class="form-group">
                <label for="tasks">Tasks</label>
                <input type="text" id="tasks" name="tasks" class="form-control">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="status" name="status">Status</label>
                <select id="status" name="status" class="form-select">
                    <option>Pending</option>
                    <option>Missed</option>
                    <option>Done</option>
                </select>
            </div>
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    
</body>
</html>